<div class="user-page-bg">
  <div class="top-70">
      <div class="login-panel">
        <h3 class="text-center">Log in to your account</h3>
            <% if flash[:alert] %>
              <div class="top-20 text-center text-danger"><%= flash[:alert] %></div>
              <% flash[:alert] = nil %>
            <% end %>
            <%= form_tag sessions_path, :class => "form-signin" do %>
              <div class="form-group has-feedback has-feedback-left">
                <%= email_field_tag :email, "", class: "form-control", placeholder: "email", required:true %>
                <i class="fa fa-envelope-o form-control-feedback"></i>
              </div>
              <div class="form-group has-feedback has-feedback-left">
                <%= password_field_tag :password, "", class: "form-control", placeholder: "password", required:true %>
                <i class="icon-lock form-control-feedback"></i>
              </div>
              <%= submit_tag "Sign In", class: "btn btn-lg btn-primary btn-block purple" %>
          <% end %>
          <div class="panel-footer text-center">
              <%= link_to "Not a member? Sign up here", new_user_path, class:"text-center new-account" %>
          </div>
      </div>
  </div>
</div>
