<div class="user-page-bg grey">
  <div class="top-50">
  </div>
  <div class="listings">
    <div class="container" style="margin: 0; width: 100%;">
      <div class="col-sm-7">

        <div class="search-inside">
          <%= form_tag listings_path, class: "navbar-form", role: "search" do %>
            <div class="form-group">
              <%= text_field_tag(:search, nil, class: "form-control search-inside-listing", placeholder: "search by keyword") %>
              &nbsp;&nbsp;
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>


        <% if @items.present? %>
          <!-- <div class="top-20">
            <%#= @items.count %> items found for "<%= @search %>"
          </div> -->
          <% @items.each do |item| %>
            <div class="col-sm-6" class="panel-image">
              <img src="<%= item.images.first.file_name if item.images.first %>" width="325" id="image-listing">
              <a href="#" class="listing-label">
                <div>
                  <span class="h3">from </span>
                  <sup class="h6">$</sup>
                <% if !item.hourly_rate.empty? %>
                  <span class="h3"><%= item.hourly_rate %></span>
                  <sup class="h6">CAD</sup>
                  <span class="h5"> &nbsp;&nbsp;/ per hour</span>
                <% elsif !item.daily_rate.empty? %>
                  <span class="h3"><%= item.daily_rate %></span>
                  <sup class="h6">CAD</sup>
                  <span class="h5"> &nbsp;&nbsp;/ per day</span>
                <% elsif !item.weekly_rate.empty? %>
                  <span class="h3"><%= item.weekly_rate %> </span>
                  <sup class="h6">CAD</sup>
                  <span class="h5"> &nbsp;&nbsp;/ per week</span>
                <% elsif !item.monthly_rate.empty? %>
                  <span class="h3"><%= item.monthly_rate %>  </span>
                  <sup class="h6">CAD</sup>
                  <span class="h5"> &nbsp;&nbsp;/ per month</span>
                <% end %>

                </div>
              </a>
              <div class="panel-card font-16"><%= item.title %><br>
                <span class="font-14">Location: <%= (item.city).titleize %></span>
              </div>
            </div>
          <% end %>

        <% else %>
          <div class="top-80 text-center">
            <h1>No results found</h1>
          </div>
        <% end %>

      </div>
      <div class="col-sm-5 top-100 pull-right" style="border: 1px solid;padding:0;">
        <div style='width: 515px;'>
          <div id="map" style='width: 515px; height: 520px;'></div>
        </div>

        <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%= raw items_json(@items).to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
        </script>

      </div>
    </div>

  </div>

</div>
