<div class="user-page-bg grey">
  <div class="top-50">
  </div>
  <div class="listings">
    <div class="container" style="margin: 0; width: 100%;">
      <div class="col-sm-6 top-50 text-center">
    <!-- listing big images section -->
        <%= image_tag("#{@item.images.first.file_name if @item.images.first}", width: "99%",
          class: "bottom-20 rental-image") %>
        <% @item.images.each do |img|  %>
          <%= image_tag("#{img.file_name}", width: "90", class: "left-20") %>
        <% end %>
    <!-- review section -->
        <div class="title-review h3">15 Reviews</div>
          <ul class="list-group text-left museo">
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
          </ul>
      </div>
      <div class="col-sm-6 top-30">
    <!-- title and avatars -->
        <div id="title" class="h3"><%= @item.title %></div>
        <div class="owner right-20" style="position: relative; display: inline-block; float:left;" >
          <% if !@item.user.avatars.blank? %>
            <%= image_tag @item.user.avatars, class: "img-circle", size: "96x96" %>
          <% else %>
            <%= image_tag "user-icon-big-2.png", class: "img-circle", size: "96x96" %>
          <% end %>
          <div class="top-10 text-center font-24 user-profile">
            <%= "#{@item.user.first_name}" %><br><span class="font-12">is the owner</span>
          </div>
        </div>
    <!-- ratings -->
        <div class="rating">
          <span class="star-rating">
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        	</span>
          &nbsp;0 <span class="font-12 left-6">Not yet rated</span>
        </div>
        <div class="hr-10"></div>
    <!-- item description -->
        <div id="description" class="museo">
          <%= @item.description %>
          <!-- <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo. Cum ex summo aliquam sapientem, alia zril interpretaris pro ea, usu adhuc veniam dignissim no. Modo augue eu vis, dico aliquip patrioque pri ad, an has adhuc viris. In has laoreet posidonium, mandamus periculis ne mel, vis dicit latine vulputate eu. Sit an inermis noluisse perpetua, cum an veri affert maiestatis. In est ferri dolorem, graeci omnesque an mei.</p> -->
        </div>
        <div class="hr-10"></div>
    <!-- rental rates -->
        <div id="rental-rate" class="top-10">
          <div style="display: block; width: 100%">
            Choose rental rate
          </div>

          <div class="list-group listing-rate">
            <% if !@item.hourly_rate.empty? %>
              <a href="#" class="list-group-item" data-term="hourly" data-rate="<%= @item.hourly_rate %>">
                <sup class="h6">$</sup>
                <span class="h1"><%= @item.hourly_rate %></span><br>
                <span class="h5">per hour</span>
              </a>
            <% end %>
            <% if !@item.daily_rate.empty? %>
              <a href="#" class="list-group-item" data-term="daily" data-rate="<%= @item.daily_rate %>">
                <sup class="h6">$</sup>
                <span class="h1"><%= @item.daily_rate %></span><br>
                <span class="h5">per day</span>
              </a>
            <% end %>
            <% if !@item.weekly_rate.empty? %>
              <a href="#" class="list-group-item" data-term="weekly" data-rate="<%= @item.weekly_rate %>">
                <sup class="h6">$</sup>
                <span class="h1"><%= @item.weekly_rate %></span><br>
                <span class="h5">per week</span>
              </a>
            <% end %>
            <% if !@item.monthly_rate.empty? %>
              <a href="#" class="list-group-item" data-term="monthly" data-rate="<%= @item.monthly_rate %>">
                <sup class="h6">$</sup>
                <span class="h1"><%= @item.monthly_rate %></span><br>
                <span class="h5">per month</span>
              </a>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
    <!-- reservation section -->
    <%= form_for(@item) do |f| %>
        <div id="lister" class="top-20">
          Reservation date:<br>
          <!--  -->
                  <div class='col-sm-1'>from</div>
                  <div class='col-sm-5'>
                      <div class="form-group">
                          <div class='input-group date' id='datetimepicker1'>
                            <%= f.text_field :created_at, class: "form-control", placeholder: "mm/dd/yyyy" %>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                      </div>
                  </div>
                  <div class='col-sm-1'>to</div>
                  <div class='col-sm-5'>
                      <div class="form-group">
                          <div class='input-group date' id='datetimepicker2'>
                            <%= f.text_field :created_at, class: "form-control", placeholder: "mm/dd/yyyy" %>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {
                          $('#datetimepicker1').datetimepicker();
                          $('#datetimepicker2').datetimepicker();
                      });
                  </script>

          <!--  -->
        </div>
        <div class="clearfix"></div>
        <div class="hr-10"></div>
        <div id="reservation">
          <% if user_signed_in? %>
            <%= f.submit "Make Reservation", class: "btn btn-primary" %>
          <% else %>
            Please Log in to make a reservation
          <% end %>
        </div>

      <% end %>

      </div>
    </div>
  </div>
</div>
