
<div class="panel panel-default top-30">
  <div class="panel-heading">your profile</div>
  <div class="panel-body">
    <%= form_for(@user, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-sm-9">
        <div class="form-group">
          <%= f.label :first_name, class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :last_name, class: "form-control", placeholder: "last name" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.email_field :email, class: "form-control", placeholder: "email" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone, class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :phone, class: "form-control", id: "phone", placeholder: "(xxx) xxx-xxxx" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address, "Street address", class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :address, class: "form-control", placeholder: "address" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-9">
            <div class="col-sm-2">
              <%= f.label :apt_suite_no, "apt/suite", class: "control-label" %>
              <%= f.text_field :apt_suite_no, class: "form-control" %>
            </div>
            <div class="col-sm-4">
              <%= f.label :city, class: "control-label" %>
              <%= f.text_field :city, class: "form-control" %>
            </div>
            <div class="col-sm-3">
              <%= f.label :province, class: "control-label" %>
              <%= f.text_field :province, class: "form-control" %>
            </div>
            <div class="col-sm-3">
              <%= f.label :postal_code, class: "control-label" %>
              <%= f.text_field :postal_code, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :aboutme, "About me", class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_area :aboutme, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :facebook_url, "Facebook Url", class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :facebook_url, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :twitter_url, "Twitter Url", class: "control-label col-sm-3" %>
          <div class="col-sm-9">
            <%= f.text_field :twitter_url, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="avatar" class="well" style="border:0px solid;">
          <% if current_user.avatars %>
            <%= image_tag current_user.avatars, class: "img-circle", size: "160x160" %>
          <% else %>
            <%= image_tag "user-icon-big-2.png", class: "img-circle", size: "160x160" %>
          <% end %>
        </div>
        <%= f.file_field :avatars, class: "form-control", :html => {:multipart => true} %>
      </div>

      <div class="clearfix"></div>
      <div class="form-group">
        <div class="col-sm-3 text-right">&nbsp;
        </div>
        <div class="col-sm-9">
          <%= f.submit "Update profile", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
$(window).load(function(){
  $("#phone").keyup(function() {
    var curchr = this.value.length;
    var curval = $(this).val();
    if (curchr == 3) {
        $("#phone").val("(" + curval + ")" + "-");
    } else if (curchr == 9) {
        $("#phone").val(curval + "-");
    }
  });
});
</script>
