
<div class="panel panel-default top-30">
  <div class="panel-heading">Your Listing</div>
  <div class="panel-body">

<!--  -->
<% @items.each do |item| %>
  <div class="well" style="display: inline-block; width: 100%;">

    <div class="col-sm-4">
      <div class="panel-image">
        <div class="listing-img-container media-cover">
          <%= link_to image_tag("#{item.images.first.file_name if item.images.first}", width: "250"),
                item_path(item)  %>
          <p class="text-center"><%= link_to "edit", edit_item_path(item) %> | unpublish</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h4><%= link_to item.title, item_path(item) %></h4>
      <p><% if !item.hourly_rate.empty? %>
          $<%= item.hourly_rate %> per hour
          <% slash = true %>
        <% end %>
        <% if !item.daily_rate.empty? %>
          <% if slash %> / <% end %>
          $<%= item.daily_rate %> per day
          <% slash = true %>
        <% end %>
        <% if !item.weekly_rate.empty? %>
          <% if slash %> / <% end %>
          $<%= item.weekly_rate %> per week
          <% slash = true %>
        <% end %>
        <% if !item.monthly_rate.empty? %>
          <% if slash %> / <% end %>
          $<%= item.monthly_rate %> per month
        <% end %>
      </p>
      <p><%= item.description %></p>
      <p>You have: 1 reservation and 1 message</p>
      <p>Status: Available | Rented by John on Dec 12, 2015 until Dec 15, 2015 | Returned</p>
      <p>State Machine: Unpublish | Available | Rented | Returned to draft| Lost</p>
    </div>
  </div>

<% end %>
<!--  -->


  </div>
</div>
