
<div class="panel panel-default top-30">
  <div class="panel-heading">Your Listing</div>
  <div class="panel-body">

<!--  -->
<% @items.each do |item| %>
  <div class="well museo font-16" style="display: inline-block; width: 100%;">

    <div class="col-sm-4">
      <div class="panel-image">
        <div class="listing-img-container media-cover">
          <%= link_to image_tag("#{item.images.first.file_name if item.images.first}", width: "250"),
                item_path(item)  %>
          <div class="listing-status">
            <% if (item.aasm_state=="available") %>
              <p class="text-center"><%= link_to "edit", edit_item_path(item) %> | <a href="#">unpublish</a></p>
              <span class="label label-primary"><%= item.aasm_state.capitalize %></span>
            <% elsif (item.aasm_state=="reserved") %>
              <p class="top-20">
                <span class="label label-primary">Pending Approval by Owner</span><br><br>
                <span class="font-14">Reserved by <%= item.reservations.last.user.first_name %><br>
                  on <%= item.reservations.last.created_at.strftime("%B %d, %Y at %I:%M %P") %>
                </span>
              </p>
            <% elsif (item.aasm_state=="approved") %>
              <p class="top-20">
                <span class="label label-primary">This item is being rented</span><br><br>
                <span class="font-14">by <%= item.reservations.last.user.first_name %>
                  <%= item.reservations.last.user.last_name %><br>
                  on <%= item.reservations.last.date_start.strftime("%B %d, %Y at %I:%M %P") %><br>
                  until <%= item.reservations.last.date_end.strftime("%B %d, %Y at %I:%M %P") %>
                </span>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h4><%= link_to item.title, item_path(item) %></h4>
      <p><%= item.description %></p>

      <div id="rental-rate" class="top-10">
        <div style="display: block; width: 100%">
          Rental rate
        </div>
        <% if !item.hourly_rate.empty? %>
          <div class="rental-rate text-center right-20">
            <sup class="h6">$</sup>
            <span class="h1"><%= item.hourly_rate %></span><br>
            <span class="h5">per hour</span>
          </div>
        <% end %>
        <% if !item.daily_rate.empty? %>
          <div class="rental-rate text-center right-20">
            <sup class="h6">$</sup>
            <span class="h1"><%= item.daily_rate %></span><br>
            <span class="h5">per day</span>
          </div>
        <% end %>
        <% if !item.weekly_rate.empty? %>
          <div class="rental-rate text-center right-20">
            <sup class="h6">$</sup>
            <span class="h1"><%= item.weekly_rate %></span><br>
            <span class="h5">per week</span>
          </div>
        <% end %>
        <% if !item.monthly_rate.empty? %>
          <div class="rental-rate text-center right-20">
            <sup class="h6">$</sup>
            <span class="h1"><%= item.monthly_rate %></span><br>
            <span class="h5">per month</span>
          </div>
        <% end %>
      </div>
      <div class="clearfix bottom-20"></div>

        <!-- <br>Available | Rented by John on Dec 12, 2015 until Dec 15, 2015 | Returned -->
      <!-- <p>State Machine: Unpublish | Available | Rented | Returned to draft| Lost</p> -->
    </div>
  </div>

<% end %>
<!--  -->


  </div>
</div>
