<div class="user-page-bg grey">
  <div class="top-50">
  </div>
  <div class="listings">
    <div class="container" style="margin: 0; width: 100%;">
      <div class="col-sm-6 top-50 text-center">
    <!-- listing big images section -->
        <%= image_tag("#{@item.images.first.file_name if @item.images.first}", width: "99%",
          class: "bottom-20 rental-image") %>
        <% @item.images.each do |img|  %>
          <%= image_tag("#{img.file_name}", width: "90", class: "left-20") %>
        <% end %>
    <!-- review section -->
        <div class="title-review h3">1 Review</div>
          <ul class="list-group text-left museo">
            <li class="list-group-item">
              <%= image_tag "https://placeimg.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
          </ul>
      </div>
      <div class="col-sm-6 top-30">
    <!-- title and avatars -->
        <div id="title" class="h3"><%= @item.title %></div>
        <div class="owner right-20" style="position: relative; display: inline-block; float:left;" >
          <% if !@item.user.avatars.blank? %>
            <%= image_tag @item.user.avatars, class: "img-circle", size: "96x96" %>
          <% else %>
            <%= image_tag "user-icon-big-2.png", class: "img-circle", size: "96x96" %>
          <% end %>
          <div class="top-10 text-center font-24 user-profile">
            <%= "#{@item.user.first_name}" %><br><span class="font-12">is the owner</span>
          </div>
        </div>
    <!-- ratings -->
        <div class="rating">
          <span class="star-rating">
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        		<i class="fa fa-star-o"></i>
        	</span>
          &nbsp;0 <span class="font-12 left-6">Not yet rated</span>
        </div>
        <div class="hr-10"></div>
    <!-- item description -->
        <div id="description" class="museo">
          <%= @item.description %>
        </div>
        <div class="hr-10"></div>
    <!-- rental rates -->
        <div id="rental-rate" class="top-10">
          <div style="display: block; width: 100%">
            Rental rate
          </div>
          <% if !@item.hourly_rate.empty? %>
            <div class="rental-rate text-center right-20">
              <sup class="h6">$</sup>
              <span class="h1"><%= @item.hourly_rate %></span><br>
              <span class="h5">per hour</span>
            </div>
          <% end %>
          <% if !@item.daily_rate.empty? %>
            <div class="rental-rate text-center right-20">
              <sup class="h6">$</sup>
              <span class="h1"><%= @item.daily_rate %></span><br>
              <span class="h5">per day</span>
            </div>
          <% end %>
          <% if !@item.weekly_rate.empty? %>
            <div class="rental-rate text-center right-20">
              <sup class="h6">$</sup>
              <span class="h1"><%= @item.weekly_rate %></span><br>
              <span class="h5">per week</span>
            </div>
          <% end %>
          <% if !@item.monthly_rate.empty? %>
            <div class="rental-rate text-center right-20">
              <sup class="h6">$</sup>
              <span class="h1"><%= @item.monthly_rate %></span><br>
              <span class="h5">per month</span>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="hr-10"></div>
    <!-- reservation section -->
        <div id="lister">
          Reservation:<br>
          <% if @item.available? %>
            <span>No one reserve your item at the moment</span>
          <% elsif @item.reserved? %>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="pull-right">
                  <!-- contact <br> -->
                  <% if @item.may_approve? %>
                    <%= link_to "approve", item_reservations_approve_path(@item),
                          method: :post,
                          data: {confirm: "Are you sure want to approve?"},
                          class: "btn btn-primary" %>
                  <% end %>
                </span>

                <span class="label label-primary">Reserved</span> by <strong><%= @item.reservations.last.user.first_name %> <%= @item.reservations.last.user.last_name %></strong><br>
                with <strong><%= @item.reservations.first.rent_term.upcase %></strong> rate of
                <strong>$<%= @item.reservations.first.rent_fee %></strong> per day<br>
                from <strong><%= @item.reservations.first.date_start.strftime("%B %d, %Y at %I:%M %P") %></strong><br>
                to <strong><%= @item.reservations.first.date_end.strftime("%B %d, %Y at %I:%M %P") %></strong><br>
                Contact <%= @item.reservations.last.user.first_name %>: &nbsp;
                <i class="fa fa-envelope-o"></i> <%= @item.reservations.last.user.email %> &nbsp;
                <i class="fa fa-phone"></i> <%= @item.reservations.last.user.phone %>
              </li>
            </ul>
          <% elsif @item.approved? %>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="pull-right">
                <!-- contact <br> -->
                <% if @item.may_return? %>
                  <%= link_to "Item Returned?", item_reservations_return_path(@item),
                        method: :post,
                        data: {confirm: "Are you sure want to mark this as returned?"},
                        class: "btn btn-primary" %>
                <% end %>
                <%# if @item.may_cancel? %>
                  <%#= link_to "Cancel", item_reservations_cancel_path(@item),
                        method: :post,
                        data: {confirm: "Are you sure want to cancel?"},
                        class: "btn btn-primary" %>
                <%# end %>
              </span>
                <span class="label label-primary">Rented</span> to <strong><%= @item.reservations.last.user.first_name %> <%= @item.reservations.last.user.last_name %></strong><br>
                with <strong><%= @item.reservations.first.rent_term.upcase %></strong> rate of
                <strong>$<%= @item.reservations.first.rent_fee %></strong> per day<br>
                from <strong><%= @item.reservations.first.date_start.strftime("%B %d, %Y at %I:%M %P") %></strong><br>
                to <strong><%= @item.reservations.first.date_end.strftime("%B %d, %Y at %I:%M %P") %></strong><br>
                Contact <%= @item.reservations.last.user.first_name %>: &nbsp;
                <i class="fa fa-envelope-o"></i> <%= @item.reservations.last.user.email %> &nbsp;
                <i class="fa fa-phone"></i> <%= @item.reservations.last.user.phone %>
            </li>
          </ul>
          <% end %>
        </div>
    <!-- message section -->
        <div id="message">
          Message from user:

          <ul class="list-group">
            <li class="list-group-item">
              <span class="pull-right">reply</span>
              <%= image_tag "http://lorempixel.com/30/30/people", class: "img-circle" %>
              Julia <span class="sub-text">on March 5th, 2014</span>
              <p>Lorem ipsum dolor sit amet, nullam aeterno ex eos, has putant scripta sapientem ne, mundi patrioque omittantur an duo.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
