<!--
<div class="navbar transparent navbar-inverse">
  <div class="navbar-inner">
    <div class="navbar-header">
      <%#= link_to "rething", root_path , class: "navbar-brand lobster" %>
    </div>
  </div>
</div> -->


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <%= link_to 'ren<i class="bold">t</i>hing'.html_safe, root_path, class: "nav-logo-text navbar-brand page-scroll" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-default" href="#services">list your item</a></li>
                <% if user_signed_in? %>
                  <li><a class="nav-menu" href="#portfolio"><i class="fa fa-envelope-o"></i> Messages</a></li>
                  <li><a class="nav-menu" href="<%= edit_user_path(current_user.id) %>"><%= current_user.first_name %>
                      <img width="28" height="28" src="https://a2.muscache.com/defaults/user_pic-50x50.png?v=2" class="img-circle">
                      </a></li>
                  <li><%= link_to "Log Out", sessions_path, class: "nav-menu", method: :delete %></li>
                <% else %>
                  <li><%= link_to "Sign Up", new_user_path, class: "nav-menu" %></li>
                  <li><%= link_to "Log In","javascript:void(0);", class: "nav-menu", id: "login" %></li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
